<nav class="navbar fixed-top">
  <div class="container p-0">
    <a class="navbar-brand"><img></a>
    <ul class="navbar-nav" style="flex-direction: row;">
      <li class="nav-item mx-3">
        <p class="nav-link" [routerLink]="['/home']">home</p>
      </li>
      <li class="nav-item mx-3">
        <p class="nav-link">about</p>
      </li>
      <li class="nav-item mx-3">
        <p class="nav-link">contact</p>
      </li>
      <li class="nav-item ml-3">
        <button class="btn parent-btn" [routerLink]="['/login']">login</button>
      </li>
    </ul>
  </div>
</nav>
