.title-contanier {
  height: 102px;
  background-color: #dedede;
  box-shadow: 0 2px 4px 0 #00000033;
}

h1{
  color: #34495E;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  cursor: default;
}
