.login-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 575px;
  width: 767px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.login-texts h4 {
  font-size: 25px;
  font-weight: 500;
  color: #34495e;
}

.login-texts p {
  font-size: 15px;
  color: #7f8c8d;
}

.login-texts span {
  color: #8e44ad;
  font-weight: 500;
}

.login-form label {
  font-size: 14px;
  color: #7f8c8d;
  margin-bottom: 5px;
}

.action label {
  margin-bottom: 0;
  color: #8e44ad;
  cursor: pointer;
  font-weight: 500;
}

.action label:hover {
  text-decoration: underline;
}

