.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  height: 575px;
  width: 767px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.login-img {
  content: url("../../../../assets/images/login-bg.png");
  width: 100%;
}

.login-texts h4 {
  font-size: 25px;
  font-weight: 500;
  color: #34495e;
}

.login-texts p {
  font-size: 15px;
  color: #7f8c8d;
}

.login-texts span {
  color: #8e44ad;
  font-weight: 500;
}

form input {
  height: 35px;
}

form label {
  font-size: 14px;
  color: #7f8c8d;
  margin-bottom: 5px;
}

.action label {
  margin-bottom: 0;
  color: #8e44ad;
  cursor: pointer;
  font-weight: 500;
}

.action label:hover {
  text-decoration: underline;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #7f8c8d;
  font-size: 14px;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7f8c8d;
  font-size: 14px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #7f8c8d;
  font-size: 14px;
}
