<div class="login-backdrop col-12 col-lg-10 mx-auto">
  <div class="row mx-0 login-container">
    <div class="col p-0">
      <img src="../../../../assets/images/login-bg.png" width="100%" height="100%">
    </div>
    <div class="col login-texts justify-content-center align-self-center">
      <h4 class="mb-3">Welcome back!</h4>
      <p class="mb-4">Please login to access your <span>Spaces</span> Dashboard</p>
      <div class="login-form">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
          <div class="form-group">
            <label for="username">Email</label>
            <input ngModel required email
              id="email"
              type="email"
              name="email"
              class="form-control"
              placeholder="Email...">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input ngModel required
              id="password"
              type="password"
              name="password"
              minlength="4"
              class="form-control"
              placeholder="*********">
          </div>
          <div class="mt-4">
            <div class="action d-flex justify-content-between align-items-center">
              <label>Forgot password?</label>
              <button class="btn parent-btn ml-auto" type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
