<div class="home-container col-12 mx-auto">
  <div class="row mx-0 align-items-center justify-content-between" style="height: 100%;">
    <div>
      <h1 class="mb-1">Manage All Users</h1>
      <h1 class="mb-4">From One Place</h1>
      <p class="mb-5" style="width: 350px;">There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered
        alteration in some form, by injected humour,</p>
      <button class="btn parent-btn d-flex justify-content-between align-items-center"
        [routerLink]="['/home', 'dashboard']">
        see dashboard
        <img class="ml-2" src="../../../../assets/images/right-arrow.svg" width="15">
      </button>
    </div>
    <img src="../../../../assets/images/home.jpg" width="60%">
  </div>
</div>
