<div class="dashboard-container col-12 mx-auto p-0">
  <div class="row mx-0">
    <div
      class="col my-2 ml-3 mr-3 pr-2 list-container"
      infiniteScroll
      [scrollWindow]="false"
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="50"
      (scrolled)="getMoreUsers()">
      <app-users-list
        [users]="users"
        [selectedUser]="selectedUser"
        (userEmitter)="onGetUserDetails($event)"
        (editEmitter)="onEditUser($event)"
        (deleteEmitter)="onDeleteUser($event)">
      </app-users-list>
      <app-loading *ngIf="loading" [message]="'Loading more users'"></app-loading>
    </div>
    <div class="p-3 details-container" *ngIf="showDetailsPanel">
      <app-user-details
        [user]="selectedUser"
        (closeEmitter)="showDetailsPanel = false; selectedUser = null"
        (editEmitter)="onEditUser($event)"
        (deleteEmitter)="onDeleteUser($event)">
      </app-user-details>
    </div>
  </div>
</div>
